<?xml version="1.0" encoding="UTF-8" ?>

<suite name="我自己的接口测试套件">
    <test name="这是测试模块">
        <classes>
            <!--<class name="com.test.extentreport.TestMethodsDemo">-->
                <!--<methods>-->
                    <!--<include name="test1"/>-->
                    <!--<include name="test2"/>-->
                    <!--<include name="test3"/>-->
                    <!--<include name="logDemo"/>-->
                <!--</methods>-->

        <!--</class>-->

            <class name="com.shawn.api.test.TestHttpRequest">
                <methods>
                    <include name="testGet"/>
                    <include name="testPost"/>
                    <!--<include name="test3"/>-->
                </methods>

            </class>
        </classes>
    </test>

    <listeners>
        <!--<listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>-->
        <listener class-name="com.shawn.api.extentreport.ExtentTestNGIReporterListener"/>
    </listeners>

</suite>