<?xml version="1.0" encoding="UTF-8" ?>

<suite name="新潮生活圈直投RESTful API">
    <test name="新潮生活圈直投RESTful API test">
        <classes>

            <class name="com.xinchao.cases.industryTestSuite.TestIndustry">
                <methods>
                    <include name="testGetIndustryLevelOne"/>
                    <include name="testGetIndustryLevelTwo"/>
                    <include name="testGetIndustryLevelList"/>
                    <include name="testGetIndustryLevelSHQList"/>
                    <include name="testGetIndustryParent"/>
                </methods>
            </class>

            <class name="com.xinchao.cases.lifeCoin.TestLifeCoin">
                <methods>
                    <include name="testGetCoinBalance"/>
                    <include name="testGetCoinBonus"/>
                    <include name="testPostCoinConsume"/>
                    <include name="testPostCoinExpense"/>
                    <include name="testPostCoinRefund"/>
                </methods>
            </class>

        </classes>
    </test>

    <listeners>
        <!--<listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>-->
        <listener class-name="com.xinchao.utils.ExtentTestNGIReporterListener"/>
    </listeners>

</suite>